@import('./fonts.css');
* { 
    margin:0;
    padding:0;
    color: rgba(0, 0, 0, 0.75);
    text-decoration:none;
}
html {
    font-size:0.625em;
    font-family:"CantarellRegular";
}


body {
    background: rgba(102, 153, 153, 0.5);
}

h1, h2, h3, h4 { 
    font-family: "LeagueGothicRegular";
    color: rgba(0, 0, 0, 1.0);
    width:100%;
    display:block;
}

h1 { font-size: 10.2em; }
h2 { font-size: 7.05em; color: rgba(0,0,0, 0.75);}
h3 { font-size: 5.1em; font-style: italic; font-weight: normal;}
h4 { font-size: 2.6em; font-style:italic; font-weight: bold; }
h4 em { font-family: "CantarellBoldOblique"; }
h5 { font-size: 2.1em; font-style: italic; font-weight: normal; }
li, p { font-size: 4em; }
p { padding: 1.5em 4em; }
li { padding: 0.25em 4em; }
li:before { content:"\00BB"; padding-right: 0.25em; }

.fg-menu { font-size: 0.4em !important }
.fg-menu li:before { content: ""; }


strike {
    color: rgba(200, 0, 0, 1.0);
}

/* */
.sh_sourceCode {
    font-size: 3.25em;
    margin-right: 40px;
}
/* */
#preso, #footer, .slide {
    border: 0;
    background-color: transparent;
    overflow: visible !important;
}

.slide {
    border-radius: 5em;
    background: white;
    -webkit-box-shadow:1em 1.75em 5em rgba(0,0,0,0.3);
}

/*
div[ref="title/01_title_slide"] > h1 {
    font-size: 10.2em;
    margin: 1.5em 0 0;
    padding-top: 1em;
    border-radius: 0 !important;
    border-top-left-radius: 0.7em !important;
    border-top-right-radius: 0.7em !important;
    background-color: white;
}

div[ref="title/01_title_slide"] > h2 {
    margin: 0 0 2.5em 0;;
    padding-bottom: 1em;
    border-bottom-left-radius: 1.0em;
    border-bottom-right-radius: 1.0em;
    -webkit-box-shadow:0.15em 0.25em 0.75em rgba(0,0,0,0.3);
    background-color: white;
}
/* */

div[ref="title/01_title_slide"] { margin-top: 20em !important; }
div[ref="title/01_title_slide"] h1 { font-size:10em !important; }
div[ref="title/01_title_slide"] h3 { font-size: 3.4em; color: rgba(0, 0, 0, 0.5); }
div[ref="what_is_coffeescript/02_node_and_coffeescript/5"] .sh_javascript,
div[ref="what_is_coffeescript/01_intro/10"] .sh_javascript {
    font-size:1.5em;
}
/* */

div.slide > div.image {
    margin-top: 2em !important;
}

div.slide div.image p {
    margin:0; padding:0;
}

img {
    display: block;
}
